<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Doação</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html#header">HOME</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#fotos">Fotos</a></li>
            <li><a href="#footer">Contato</a></li>
            <li><button class="entrar">ENTRAR</buttom>
            </li>
        </ul>
    </nav>
    <main id="main-doacao">
        <h1 id="titulo-doacao">Faça sua Doação</h1>
        <p>Escolha um cartão. Nele terá o alimento que você deve doar</p>
        <section>
            <div id="painel_cartao">
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
                <div class="cartao"></div>
            </div>
        </section>
    </main>
</body>
</html>